# === For oracle inference and page abstraction ===

# OpenAI client (required, for all baselines)
OPENAI_BASE_URL="https://api.openai.com/v1"
OPENAI_API_KEY=""
OPENAI_MODEL_NAME="gpt-4.1"

# Google AI client (optional)
GOOGLEAI_API_KEY=
GOOGLEAI_MODEL_NAME=

# Anthropic client (optional)
ANTHROPIC_API_KEY=
ANTHROPIC_MODEL_NAME=

# Local client (optional)
LOCAL_MODEL_BASE_URL=
LOCAL_MODEL_NAME=

# === For GUI grounding ===

GUI_GROUNDING_MODEL_BASE_URL="http://localhost:8000/v1"
GUI_GROUNDING_MODEL_NAME="inclusionAI/UI-Venus-Ground-7B"