# config.yaml
# See `baml_src/clients` for available clients

parser:
  # Semantic parsing of text descriptions into (condition, action, expectation) test steps
  llm_client: "FallbackLocalModel"

  # Automatically infer <unknown> placeholders in parsed test steps
  # If false, throw exception and inform user
  infer_missing_steps: true

executor:
  llm_clients:
    # Generates pre- and post-conditions using the assertion API
    assertion_generation: "FallbackLocalModel"

    # Executes assertion API methods (e.g., extract() from state and element)
    assertion_api: "FallbackLocalModel"

    # Proposes actions given a natural language action description
    action_proposer: "FallbackLocalModel"

    # Locates UI elements (x, y) from a UI description
    ui_locator: "FallbackUIVenus"

    # For tracking same logical pages across states
    page_reidentification: "FallbackLocalModel"

  # How many times in total to try post-condition generation.
  max_tries: 1

# Logging dict configs
logging:
  version: 1

  disable_existing_loggers: false

  formatters:
    default:
      format: "[%(asctime)s] [%(levelname)s] [%(name)s.%(funcName)s] %(message)s"
      datefmt: "%H:%M:%S"

  handlers:
    console:
      class: logging.StreamHandler
      formatter: default
      stream: ext://sys.stdout

  root:
    level: DEBUG
    handlers: ["console"]
