# config.yaml
# See `baml_src/clients` for available clients

parser:
  # Semantic parsing of text descriptions into (condition, action, expectation) test steps
  llm_client: "Qwen3_8b"

  # Automatically infer <unknown> placeholders in parsed test steps
  # If false, throw exception and inform user
  infer_missing_steps: true

executor:
  llm_clients:
    # Generates pre- and post-conditions using the assertion API
    assertion_generation: "Qwen3_8b"

    # Executes assertion API methods (e.g., extract() from state and element)
    assertion_api: "Qwen3_8b"

    # Proposes actions given a natural language action description
    action_proposer: "Qwen3_8b"

    # Locates UI elements (x, y) from a UI description
    ui_locator: "UGround"

    # For tracking same logical pages across states
    page_reidentification: "Qwen3_8b"

  # When a postcondition assertion fails, how many times to retry assertion generation before reporting as a bug
  max_retries: 1

# Logging dict configs
logging:
  version: 1

  disable_existing_loggers: false

  formatters:
    default:
      format: "[%(asctime)s] [%(levelname)s] [%(name)s.%(funcName)s] %(message)s"

  handlers:
    console:
      class: logging.StreamHandler
      formatter: default

    file:
      class: logging.FileHandler
      formatter: default
      filename: "./webtestpilot.log"

  root:
    level: INFO
    handlers: ["console", "file"]
